/*----- Forms styling for profile page ---------------*/

.profile-form input::placeholder {
    color: #aab7c4;
}

#id_town option:first-child {
    color: #aab7c4;
}

#id_town option:not(:first-child) {
    color: #000;
}
