{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block content %}    
    <div class="container"></div>  
    <h1 class="text-center">Ordered Items</h1>
    <hr>    
    <div class="container">
        <!-- For medium and higher devices -->  
        {% if bag_items %}
            {% include "bag/bag_large_devices.html" %}
            {% include "bag/bag_medium_devices.html" %}
        {% else %}
        {% endif %}                                     
    </div>    
{% endblock %}

{% block extra_js %}       
    {{ block.super }}            
    <script src="{% static 'products/js/products.js' %}" type="text/javascript"></script>
{% endblock %}