<!-- For medium and higher devices -->  
<div class="row top-row no-gutters mb-4">
    <div class="d-none d-md-block col-md-3">
        <p class="header font-weight-bold">Item</p>
    </div>
    <div class="header d-none d-md-block col-md-3">                    
    </div>
    <div class="header d-none d-md-block col-md-4">
        <p class="font-weight-bold ml-5">Quantity</p>
    </div>
    <div class="header d-none d-md-block col-md-1">
        <p class="font-weight-bold">Price</p>
    </div>
    <div class="header d-none d-md-block col-md-1 pl-3">
        <p class="font-weight-bold">Subtotal</p>
    </div>
</div>
<div class="mobile-top-row row no-gutters background">
    {% for item in bag_items %}    
        <div class="bag-text d-none d-md-block col-md-3 mt-1 pl-3 pt-2 pb-0 pr-1">
            <span class="border-bottom border-secondary mb-3 font-weight-bold">{{ forloop.counter }}. {{ item.product.name }}</span><br>                
            {{ item.product.description }}
            {{ item.spice_index }}   
        </div>                    
        <div class="d-none d-md-block col-md-3 mt-3">
            {% if item.product.image %}                    
                <img class="product-detail-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">                    
            {% else %}                
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">                
            {% endif %}
        </div>            
        <div class="bag-text d-none d-md-block col-md-4 mt-3">            
            <form class="form mt-3 ml-5" action="{% url 'adjust_bag' item.product.id %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3 justify-content-center">
                    <a id="minus-{{ forloop.counter }}" class="minus input-group-prepend">
                        <i class="fas fa-minus"></i>
                    </a>                                  
                    <label for="quantity"></label>                
                    <input class="quantity w-50" type="number" id="quantity-{{ forloop.counter }}" name="quantity" min="1" max="50" value="{{ item.quantity }}"> 
                    <a id="plus-{{ forloop.counter }}" class="plus input-group-append">
                        <i class="fas fa-plus"></i>
                    </a>
                    {% if item.spice_index %}
                        <label for="spice_index"></label>                
                        <input type="hidden" name="spice_index" value="{{ item.spice_index }}">
                    {% else %} 
                    {% endif %} 
                    <div class="row mt-2">
                        <div class="col-12">
                            <button type="submit" class="edit-item rounded-0" value="Update item">Update item</button>
                            <div class="btn delete-item rounded-0" data="{{ item.spice_index }}" id="{{ item.product.id }}">Delete item</div> 
                        </div>
                    </div>                                   
                </div>               
            </form>            
        </div>
        <div class="bag-text text-center d-none d-md-block col-md-1 mt-3">
            {{ item.product.price }}                    
        </div>
        <div class="bag-text text-right d-none d-md-block col-md-1 mt-3 pl-4">
            {{ item.sub_total }}                    
        </div>
        <hr>                                       
    {% endfor %}                               
</div>
<div class="row">
    <div class="col-12 border-top border-secondary mt-2 d-none d-md-block">
    </div>
</div>
<div class="row mt-2">
    <div class="col-10 d-none d-md-block">
        <p class="header font-weight-bold text-right">Total</p>
    </div>
    <div class="col-2 text-right bag-text d-none d-md-block">
        Rs {{ total }}
    </div>
    <div class="col-10 d-none d-md-block">
        <p class="header font-weight-bold text-right">Delivery</p>
    </div>
    <div class="col-2 text-right bag-text d-none d-md-block">
        Rs {{ transport|floatformat:2 }}
    </div>
        <div class="col-10 d-none d-md-block">
        <p class="header font-weight-bold text-right">Grand Total</p>
    </div>
    <div class="col-2 text-right bag-text d-none d-md-block">
        Rs {{ grand_total }}
    </div>
    <div class="col-4 d-none d-md-block"></div>    
    <div class="col-8 d-none d-md-block text-right pr-0 mb-2">        
        <a href="{% url 'products' %}" class="btn product-return"><i class="fas fa-chevron-left"></i> CONTINUE ORDERING</a>        
        {% if open_status %}
        <a href="{% url 'checkout' %}" class="btn checkout-button"><i class="fas fa-lock"></i> SECURE CHECKOUT</a>
        {% else %}
        {% endif %}
    </div>
</div> 
