<!-- For medium and smaller devices -->  
<div class="row top-row no-gutters">
    {% for item in bag_items %}                        
        <div class="col-12 col-sm-5 d-md-none">
            <p class="bag-text pb-0 p-1 mb-2 border-bottom border-secondary font-weight-bold">{{ forloop.counter }}.{{ item.product.name}}</p> 
            {% if item.product.image %}                    
                <img class="product-detail-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">                    
            {% else %}                
                <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">                
            {% endif %}
        </div>            
        <div class="col-12 col-sm-7 d-md-none mt-3 pt-0 pt-sm-3 mt-sm-2 pl-5">                               
            <p class="bag-text p-1">{{ item.product.description}}</p>            
            <p class="bag-text p-1"><span class="font-weight-bold">Quantity:</span> {{ item.quantity }}</p>
            <form class="form" action="{% url 'adjust_bag' item.product.id %}" method="POST">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <a id="minus-small-{{ forloop.counter }}" class="minus-small input-group-prepend">
                        <i class="fas fa-minus"></i>
                    </a>                                  
                    <label for="quantity"></label>                
                    <input class="quantity w-50" type="number" id="quantity-small-{{ forloop.counter }}" name="quantity" min="1" max="50" value="{{ item.quantity }}"> 
                    <a id="plus-small-{{ forloop.counter }}" class="plus-small input-group-append">
                        <i class="fas fa-plus"></i>
                    </a>
                    {% if item.spice_index %}
                        <label for="spice_index"></label>                
                        <input type="hidden" name="spice_index" value="{{ item.spice_index }}">
                    {% else %} 
                    {% endif %} 
                    <div class="row mt-2 w-100">
                        <div class="col-12">
                        <button type="submit" class="btn edit-item rounded-0" value="Update item">Update item</button>
                        <a href="{% url 'delete_item' item.product.id %}" class="btn delete-item rounded-0">Delete item</a>
                       </div>
                    </div> 
                </div>
            </form>
            <p class="bag-text text-right"><span class="font-weight-bold">Price: </span>Rs {{ item.product.price }}</p>
            <p class="bag-text text-right mt-2"><span class="font-weight-bold">Subtotal: </span>Rs {{ item.sub_total }}</p>
        </div>        
    {% endfor %}    
    <div class="col-12 border-top border-secondary mt-2 mb-2 d-md-none">        
    </div> 
    <div class="col-8 d-md-none">
        <p class="header font-weight-bold text-right">Total</p>
    </div>
    <div class="col-4 text-right bag-text d-md-none">
        Rs {{ total }}
    </div>
    <div class="col-8">
        <p class="header font-weight-bold text-right d-md-none">Delivery</p>
    </div>
    <div class="col-4 text-right bag-text d-md-none">
        Rs {{ transport|floatformat:2 }}
    </div>
        <div class="col-8">
        <p class="header font-weight-bold text-right d-md-none">Grand Total</p>
    </div>
    <div class="col-4 text-right bag-text d-md-none">
        Rs {{ grand_total }}
    </div>     
    <div class="col-12 d-md-none text-right pr-0 mb-2">        
        <a href="{% url 'products' %}" class="btn product-return"><i class="fas fa-chevron-left"></i> MAIN MENU</a>        
        {% if open_status %}
        <a href="{% url 'checkout' %}" class="btn checkout-button"><i class="fas fa-lock"></i> SECURE CHECKOUT</a>
        {% else %}
        {% endif %}
    </div>      
</div>
                       
