{% if bag_items %}
    <div class="row top-row no-gutters">
        {% for item in bag_items %}                      
            <div class="col-12 col-sm-5 d-md-none mt-3">
                <p class="bag-text pb-0 p-1 mb-2 border-bottom border-secondary">{{ forloop.counter }}.{{ item.product.name}}</p> 
                {% if item.product.image %}                    
                    <img class="product-detail-image" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">                    
                {% else %}
                    <a href="#">
                        <img src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                    </a>
                {% endif %}
            </div>            
            <div class="col-12 col-sm-7 d-md-none p-3 mt-4">                               
                <p class="bag-text p-1">{{ item.product.description}}</p>
                <p class="bag-text p-1"><span class="font-weight-bold">Quantity:</span> {{ item.quantity }}</p>
                <p class="bag-text p-1"><span class="font-weight-bold">Price: </span>Rs {{ item.product.price }}</p>
                <p class="bag-text p-1"><span class="font-weight-bold">Subtotal: </span>Rs {{ item.sub_total }}</p>
            </div>
        {% endfor %}
    </div>                        
{% else %}
{% endif %}