{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <button type="button" class="btn btn-dark open" data-bs-toggle="modal" data-bs-target="#exampleModal" style="position: absolute;  bottom: 400px; z-index: 1; border-radius: 0;">
        <i class="fas fa-motorcycle"></i>
    </button>  
    <div class="home-background">        
    </div>    
    {% if open_status %}
        <a class="order-button btn-lg" href="{% url 'products' %}">Order now</a>
    {% else %}
    {% endif %}
    <footer>
        <div class="row footer-icons no-gutters footer fixed-bottom text-center">          
            <div class="col-3"><i class="fas fa-business-time"></i><br><span class="text-light">10am-10pm</span></div>
            <div class="col-6"><a href="mailto:zahurmeerun@hotmail.com"><i class="fas fa-envelope-square"></i></a><br><span class="text-light">zahurmeerun@hotmail.com</span></div>
            <div class="col-3"><a href="tel:57075200"><i class="fas fa-phone"></i></a><br><span class="text-light">57075200</span></div>              
        </div>
    </footer>
    <!-- Delivery Modal -->
    <div class="modal fade" id="deliveryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-success" id="exampleModalLabel"><i class="fas fa-city"></i> Towns We Deliver</h5>                
                </div>
                <div class="modal-body">                
                    <ul>
                        {% for town in towns %}
                            <li>{{ town }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn close text-light" data-bs-dismiss="modal">Close</button>                
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

{% block extra_js %}       
    {{ block.super }}            
    <script src="{% static 'home/js/home.js' %}" type="text/javascript"></script>
{% endblock %}