{% extends "base.html" %}
{% load static %}

{% block extra_css %} 
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">      
{% endblock %}

{% block content %}    
    <div class="empty-container"></div>   
    <div class="container">
        <h1 class="text-left">Order History</h1>
        <hr>        
        <div class="order-history profile-text border border-secondary mb-2 w-50">
            <div class="row m-1">
                <div class="col-12 col-md-4 text-left text-dark font-weight-bold mt-2">Order Number</div>
                <div class="col-12 col-md-8 text-md-right mt-md-2 order-number">{{ order.order_number }}</div>
                <div class="col-12 col-md-6 text-left text-dark font-weight-bold mt-1">Date and time</div>
                <div class="col-12 col-md-6 text-md-right mt-md-1">{{ order.date}}</div> 
                <div class="col-12">
                    Ordered items:
                </div>
                {% for item in order.lineitems.all %}
                    <div class="col-12 col-md-6 text-left text-dark font-weight-bold">{{ forloop.counter }}.{{ item.product.name }}
                        {% if item.spice_index %}
                            <i class="ml-2 text-danger fas fa-pepper-hot"></i>  {{ item.spice_index }}
                        {% else %}
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 text-md-right">{{ item.quantity }} @ Rs{{ item.product.price }} each</div>
                {% endfor %}
                <div class="col-12">
                    Delivery Info:
                </div>  
                <div class="col-12 col-md-6 text-left text-dark font-weight-bold">Full Name</div>
                <div class="col-12 col-md-6 text-md-right">{{ order.full_name}}</div>
                <div class="col-12 col-md-6 text-left text-dark font-weight-bold mt-1">Phone Number</div>
                <div class="col-12 col-md-6 mt-md-1 text-md-right">{{ order.phone_number}}</div>
                <div class="col-12 col-md-6 text-left text-dark font-weight-bold mt-1">Street Address</div>
                <div class="col-12 col-md-6 mt-md-1 text-md-right">{{ order.street_address}}</div>
                <div class="col-12 col-md-6 text-left text-dark font-weight-bold mt-1">Town</div>
                <div class="col-12 col-md-6 mt-md-1 text-md-right">{{ order.town}}</div>
                <div class="col-12 col-md-6 text-left text-dark font-weight-bold mt-1">Postcode</div>
                <div class="col-12 col-md-6 mt-md-1 text-md-right">{{ order.postcode}}</div>                       
                <div class="col-12">
                    Billing Info:
                </div>
                <div class="col-12 col-md-6 text-left text-dark font-weight-bold mt-1">Total</div>
                <div class="col-12 col-md-6 mt-md-1 text-md-right">{{ order.order_total }}</div>
                <div class="col-12 col-md-6 text-left text-dark font-weight-bold mt-1">Delivery Cost</div>
                <div class="col-12 col-md-6 mt-md-1 text-md-right">{{ order.delivery_cost }}</div>
                <div class="col-12 col-md-6 text-left text-dark font-weight-bold mt-1">Grand Total</div>
                <div class="col-12 col-md-6 mt-md-1 text-md-right">{{ order.grand_total }}</div>
            </div>           
        </div> 
        <a href="{% url 'profile' %}" class="btn allauth-button mb-2 pt-1" type="submit"><i class="fas fa-chevron-left"></i> My Profile</a>               
    </div>    
{% endblock %}

{% block extra_js %}       
    {{ block.super }}
    <script src="{% static 'profiles/js/profile.js' %}" type="text/javascript"></script>    
{% endblock %}