{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">    
{% endblock %}

{% block content %}    
    <div class="empty-container"></div>   
    <div class="container">        
        <h1 class="text-left">{{ profile.user.username }}'s Profile</h1>
        <hr>
        <div class="row">
            <div class="col-12 col-md-7 col-lg-6">
                {% if user.is_authenticated %}
                <a class="allauth-button btn pt-1" href="{% url 'account_change_password' %}">Change Password</a>
                {% endif %}    
                <form class="mt-3 w-100" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button type="submit" class="allauth-button">Update Information</button>
                </form>            
            </div>
            <div class="col-12 col-md-5 mt-3 mt-md-0 col-lg-6">
                <p class="font-weight-bold border-bottom">Order History</p>
                {% for order in orders %}
                    <a href="{% url 'order_history' order.order_number %}" class="profile-text text-primary">
                        <span class="font-weight-bold text-secondary">{{ forloop.counter }}.</span> 
                            {{ order.order_number|truncatechars:20 }}</a><br>
                {% endfor %}
            </div>
        </div>                                          
    </div>    
{% endblock %}z

{% block extra_js %}       
    {{ block.super }}            
    <script src="{% static 'profiles/js/profile.js' %}" type="text/javascript"></script>
{% endblock %}