{% extends "base.html" %}
{% load static %}

{% block extra_css %}     
{% endblock %}

{% block content %}    
    <div class="empty-container"></div>   
    <div class="container">
        <h1 class="text-left">Checkout Page</h1>
        <hr>
        <form class="order-form mt-3 w-50" action="#" method="POST" id="order-update-form">
            {% csrf_token %}
            {{ order_form|crispy }}
            <button class="allauth-button">Send to Kitchen</button>
        </form>                                             
    </div>    
{% endblock %}

{% block extra_js %}       
    {{ block.super }}    
{% endblock %}