@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap');

/*----- Navbar header -------------------------------*/

.links {
    width: 100%;
}

.header-link {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 500;
    text-decoration: none !important;
    font-size: 15px;    
}

.bottom-nav {
    z-index: 1;
    top: 70px;
    background: white; 
    padding-top: 5px;  
}

.dropdown-menu {
    z-index: 999;
}

.store-open {
    background: black;
    color:white;
    font-size: 20px;
}

.navbar-brand {
    font-size: 35px;
    padding-top: 0;
    color: red !important;
}

.nav-link, .nav-link {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 700;
    padding-top: 10px;
}

.search-1 {
    border-color: black;
    margin-right: -5px !important;
    border-right: none;
}

.search-2 {
    border-color: black;
    margin-right: 0px !important;
    border-right: none;
}

.navbar {
    padding-bottom: 20px;
    padding-right: 0;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999;
}

.toast-body, .toast-header {
    background-color: rgb(238, 229, 229);
    width: 250px;
}

.order-summary {
    border: 1px solid black;
    border-radius: 0;
    background: rgb(0, 0, 0);
    color: rgb(250, 244, 244);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: 12px;    
}

.order-summary:hover {    
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);    
}

/*----- Media screen -------------------------------*/

@media (max-width: 576px) {
    .search-2 {
        width: 75% !important;
    }
}

@media (max-width: 991px) {
    .links {
        width: 80%;
    }

    .search-1 {
        width: 75% !important;
    }
}


