
/*----- Navbar header -------------------------------*/

.links {
    width: 100%;
}

.bottom-nav {
    z-index: 1;
    top: 60px;
    background: white;
}

.dropdown-menu {
    z-index: 999;
}

.store-open {
    background: black;
    color:white;
}

.navbar-brand {
    font-size: 35px;
    padding-top: 0;
}

/*----- Media screen -------------------------------*/

@media (max-width: 576px) {
    .search-2 {
        width: 75% !important;
    }
}

@media (max-width: 991px) {
    .links {
        width: 80%;
    }

    .search-1 {
        width: 75% !important;
    }
}


