/* Products app css */

.container {
    height: 170px;
    width: 95% !important;
}

img {
    height: 250px !important;
    width: 100%;    
    object-fit: cover;
    object-position: center;
}

.background {
    background: rgb(239, 241, 243);    
}

.card-text {
    padding: 0;
    margin: 0 !important;
    color: rgb(88, 100, 112);
    font-family: 'Lato', sans-serif;
    font-size: 500;
}

.card-body {
    padding-top: 0;
}

.product-tag { 
    border: 1px solid black;   
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-weight: 600; 
    width: 100px;
    height: 30px;
    margin: auto auto; 
}

.product-tag:hover {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.product-link {
    text-decoration: none !important; 
}

.product-details-link {
    text-decoration-color: rgb(88, 100, 112) !important; 
}

.product-detail-image {
    height: 400px !important;
}

.fa-plus {
    background: black;
    color: white;    
    padding: 8px;
    height: 32px;   
}

.input-group-prepend {
    text-decoration: none !important;
}

.input-group-append {
    text-decoration: none !important;
}

.fa-plus:hover {
    background: rgb(65, 60, 60);   
}

.fa-minus:hover {
    background: rgb(65, 60, 60);    
}

.fa-minus {
    background: black;
    color: white;    
    padding: 8px;
    height: 32px;    
}

.quantity {
    height: 32px;    
}

.product-submit {
    border: 1px solid black;
    border-radius: 0;
    background: black;
    color: rgb(255, 255, 255);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.product-return {
    border: 1px solid black;
    border-radius: 0;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.product-return:hover {    
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);    
}

.product-submit:hover {    
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);    
}

/*----- Store management form  --------------------------*/

.product-form input::placeholder {
    color: #aab7c4;
}

#id_category option:first-child {
    color: #aab7c4;
}

#id_category option:not(:first-child) {
    color: #000;
}

/*----- Pagination -------------------------------*/

.end-link {
    background: white !important;    
}

.page-link {
    border: 1px solid black !important;
    border-radius: 0 !important;
}

.page-item.active .page-link {    
    color: #fff !important;
    background-color: #000000;
    z-index: 0 !important;
}

/* Hide arrows on input fields */
/*https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*----- Media screen -------------------------------*/

@media (max-width: 991px) {
    .container {
        height: 130px;            
    }
    .product-return, .product-submit {
        font-size: 15px;
    }    
}

@media (max-width: 576px) {
    .container {
        height: 130px;        
    }
    .product-detail-image {
        height: 300px !important;
    }
    .product-return, .product-submit {
        font-size: 14px;
    } 
}
