{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        <!-- Bootstrap CSS -->
        {% block corecss %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        <title>Mo Lacuizine</title>
    </head>
    <body>
        <header>                   
            <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="links">
                    <div class="row no-gutters">
                        <div class="col-2 col-lg-2 d-none d-lg-block">
                            <a class="navbar-brand" href="#">MoLacuizine</a> 
                        </div>
                        <div class="col-2 col-md-8 col-lg-8"> 
                            <form class="form-inline text-center d-none d-md-block">
                                <input class="form-control rounded-0 search-1 mr-sm-2 w-50" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                                    <i class="fas fa-search"></i>
                                </button>
                            </form>                           
                        </div>
                        <div class="col-6 col-md-2 col-lg-1 text-center">
                            <div><i class="fas fa-user fa-lg"></i></div>
                            <a href="#" role="button" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Accounts
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>                        
                        </div>
                        <div class="col-4 col-md-2 col-lg-1 text-center">
                            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                            <a href="#">$0.00</a> 
                        </div>
                    </div>                    
                </div>                           
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav mt-2 mt-lg-0 d-lg-none">
                        <a class="navbar-brand" href="#">MoLacuizine</a>
                        <form class="form-inline d-md-none">
                            <input class="form-control rounded-0 search-2 mr-sm-2 w-50" type="search" placeholder="Search" aria-label="Search">
                            <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </form> 
                        <li class="nav-item active">
                            <a class="nav-link" href="#">All menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Drinks</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sides</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Snacks</a>
                        </li>
                    </ul>                    
                </div>
            </nav>
            <nav class="bottom-nav fixed-top" >
                <div class="row no-gutters">
                    <div class="col-2 d-none d-lg-block">
                    </div>
                    <div class="col-2 text-center d-none d-lg-block">
                        <a class="nav-link" href="#">All Menu</a>
                    </div>
                    <div class="col-2 d-none d-lg-block">
                        <a class="nav-link text-center" href="#">Drinks</a>
                    </div>
                    <div class="col-2 d-none d-lg-block">
                        <a class="nav-link text-center" href="#">Sides</a>
                    </div>
                    <div class="col-2 text-center d-none d-lg-block">
                        <a class="nav-link" href="#">Snacks</a>
                    </div>
                    <div class="col-2 d-none d-lg-block">                        
                    </div>                
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="store-open text-center">
                            We are open!
                        </div> 
                    </div>
                </div>                
            </nav>                                                                   
        </header>
        {% block page_header %}    
        {% endblock %}

        {% block content %}
        {% endblock %}
        
        {% if messages %}
            <div class="message-container">            
            </div>
        {% endif %}

        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}    

    </body>
</html>