.stripe-style-input::placeholder {
    color: #aab7c4;
}

#id_town option:first-child {
    color: #aab7c4;
}

#id_town option:not(:first-child) {
    color: #000;
}

#id_request {
    height: 100px ;
}

#id_town {
    padding: 0 0 0 8px;
}

img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    object-position: center;
}

.checkout-text {
    padding: 0;
    margin: 0;
    color: rgb(88, 100, 112);
    font-family: 'Lato', sans-serif;
    font-size: 500;
}

.order-number {
    font-size: 14px;
}


.checkout-summary {
    width: 60%;
}

/*----- Stripe taken from Boutique Ado project -----------*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px; 
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

select,
select option {
    color: #000000;
}

select:invalid,
select option[value=""] {
    color: #aab7c4 !important;
}

#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 162, 184, .85);
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

/*----- Media screen -------------------------------*/

@media (max-width: 991px) {
    .checkout-summary {
        width: 75% !important;
    }

    .container {
        max-width: 95%;
    }
}

@media (max-width: 576px) {
    .checkout-text {
        font-size: 14px;
    }

    .order-number {
        font-size: 11px;
    }

    .header-text {
        font-size: 12px;
    }
    .checkout-summary {
        width: 100% !important;
        margin: 0 auto;
    }
}
