/* bag app css */

.container {
    height: 170px;
    width: 95% !important;
}

img {
    height: 250px !important;
    width: 100%;    
    object-fit: cover;
    object-position: center;
}

.header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
}