/* bag app css */

.container {
    height: 170px;
    width: 95% !important;    
}

img {
    height: 250px !important;
    width: 100%;    
    object-fit: cover;
    object-position: center;
}

.header {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
}

.bag-text {
    padding: 0;
    margin: 0;
    color: rgb(88, 100, 112);
    font-family: 'Lato', sans-serif;
    font-size: 500;
}

.top-row {
    height: 0 !important;
}

/*----- Bag buttons ------------------------------*/

.checkout-button {
    border: 1px solid black;
    border-radius: 0;
    background: rgb(0, 0, 0);
    color: rgb(255, 247, 247);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.checkout-button:hover {    
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);    
}

.product-return {
    border: 1px solid black;
    border-radius: 0;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.product-return:hover {    
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);    
}

.edit-item {
    background: rgb(41, 41, 245);
    color: white;
    font-size: 14px;    
    border: none;
    padding: 3px;
}

.edit-item:hover {
    background: rgb(90, 90, 245);    
}

.delete-item {
    background: rgb(247, 43, 43);
    color: white;
    font-size: 14px;    
    border: none;
    padding: 3px;
}

.delete-item:hover {
    background: rgb(243, 91, 91);
    color: white;    
}

/*----- Quanitity form input ----------------------------*/

.fa-plus {
    background: black;
    color: white;
    padding: 8px;
    margin-bottom: 5px;
    margin-left: -10px;
}

.fa-plus:hover {
    background: rgb(65, 60, 60);
}

.fa-minus:hover {
    background: rgb(65, 60, 60);
}

.fa-minus {
    background: black;
    color: white;
    padding: 8px;
    margin-bottom: 5px;
    margin-right: -9px
}

.quantity {
    height: 32px;    
}

/* Hide arrows on input fields */
/*https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*----- Media screen -------------------------------*/

@media (max-width: 991px) {
    img {
        height: 175px !important;
    }

    .header {        
        font-size: 14px;        
    }

    .bag-text {
        font-size: 14px; 
    }  

    .container {
        height: 130px;        
    }

    .fa-plus {
        margin-top: 1px;     
        margin-left: -5px;
    }

    .fa-minus {
        margin-top: 1px;    
        margin-right: -8px;
    }
}

@media (max-width: 576px) {
    img {
        width: 60%;
        margin-left: 20%;
    }

}

@media (max-width: 768px) {
    .mobile-top-row {
        margin-top: -50px;
    }
    
    .checkout-button, .product-return {
        font-size: 12px;
        padding: 6px;
    } 
}
