{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}    
    <div class="container"></div>  
    <h1 class="header text-center">Products Details</h1>
    <hr>    
    <div class="container background mt-2">        
        <div class="row">
            <div class="col-12 col-md-6">
                {% if product.image %}
                    <a href="#">
                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    </a>
                {% else %}
                    <a href="#">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                {% endif %}
            </div>
            <div class="col-12 col-md-6">
                <p class="text-center card-text pt-3">{{ product.name }}</p><hr>
                <i class="fas fa-utensils d-inline"></i><p class="card-text d-inline pl-2">{{ product.category.friendly_name }}</p><br>
                <p class="card-text mt-4">{{ product.description }}</p><br>
                <p class="card-text font-weight-bold">Rs {{ product.price }}</p>
            </div>            
                         
        </div>
    </div>    
{% endblock %}