{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}    
    <div class="container"></div>  
    <h1 class="header text-center">Products page</h1>
    <hr>
    <div>
        {% for c in current_category %}
            <a class="product-link" href="{% url 'products' %}?category={{ c.name }}">
                <p class="product-tag text-center">{{ c.friendly_name }}</p>
            </a>
        {% endfor %}
    </div>
    <p class="card-text text-center mt-2">{{ count }} Products</p>
    <div class="container background mt-2">        
        <div class="row">            
            {% for product in products %}
                <div class="product col-sm-6 col-md-6 col-lg-4 col-xl-3">                    
                    <div class="card m-2">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text font-weight-bold">Rs {{ product.price }}</p>
                        <div class="row no-gutters">
                            <div class="col-1">
                                <i class="fas fa-utensils"></i>
                            </div>
                            <div class="col-11 text-left">
                                <a href="#">
                                    <p class="card-text">{{ product.category.friendly_name }}</p>
                                </a>
                            </div>                            
                        </div>
                    </div>
                <hr>                                      
                </div>                                                                     
            {% endfor %}             
        </div>
    </div>    
{% endblock %}