{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'products/css/products.css' %}">
{% endblock %}

{% block content %}    
    <div class="container"></div>  
    <h1 class="header text-center">Our Menu</h1>
    <hr>       
    <p class="card-text text-center mt-2 mb-2">Showing {{ start }}-{{ finish }} of {{ count }} items for <span class="font-weight-bold font-italic">{{ query }}</span></p>
    <nav aria-label="Page navigation example">
    <!-- Page pagination -->
    <ul class="pagination justify-content-center ">
        <li class="page-item">
            {% if previous == 0 %}
                <span class="page-link page-item text-dark font-weight-bold end-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </span> 
            {% else %}
                <a class="page-link text-dark font-weight-bold" href="{% url 'query_search' %}?page_number={{ previous }}&q={{ query }}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a> 
            {% endif %}
            {% for num in page_num %}
                {% if num == page_number %}
                    <li class="page-item font-weight-normal active"><a class="page-link text-dark"  href="{% url 'query_search' %}?page_number={{ num }}&q={{ query }}">{{ num }}</a></li>
                {% else %}
                    <li class="page-item font-weight-normal"><a class="page-link text-dark"  href="{% url 'query_search' %}?page_number={{ num }}&q={{ query }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% if next > last %}
                <span class="page-link page-item text-dark font-weight-bold end-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </span> 
            {% else %}
                <a class="page-link text-dark font-weight-bold" href="{% url 'query_search' %}?page_number={{ next }}&q={{ query }}" aria-label="Previous">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            {% endif %} 
        </li>
    </ul>    
    </nav>
    <!-- Product listng -->
    <div class="container background mt-2">        
        <div class="row">                      
            {% for product in objects %}
                <div class="product col-sm-6 col-md-6 col-lg-4 col-xl-3">                    
                    <div class="card m-2">
                        {% if product.image %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            </a>
                        {% else %}
                            <a href="{% url 'product_detail' product.id %}">
                                <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                            </a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ product.name }}</p>
                        <p class="card-text font-weight-bold">Rs {{ product.price }}</p>
                        <div class="row no-gutters">
                            <div class="col-1">
                                <i class="fas fa-utensils"></i>
                            </div>
                            <div class="col-11 text-left">
                                <a href="{% url 'category_search' %}?category={{ product.category.name }}">
                                    <p class="card-text">{{ product.category.friendly_name }}</p>
                                </a>
                            </div>                            
                        </div>
                        {% if request.user.is_superuser %}
                            <div class="product-update mt-2">       
                                <a href="{% url 'product_update' product.id %}" class="text-primary">Update</a>/<a href="#" class="text-danger">Delete</a>
                            </div>
                        {% endif %}
                    </div>
                <hr>                                      
                </div>                                                                     
            {% endfor %}             
        </div>
    </div>    
{% endblock %}